/* Mobile Styling */
   @media (max-width: 768px) {
    .title {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      font-size: 2rem;
      font-weight: var(--fw-black);
      text-transform: uppercase;
      color: white;
      white-space: pre-wrap; 
      margin-top: 50px;
    }
  }
  
  /* Desktop Styling */
  @media (min-width: 769px) {
    .title {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      font-size: 3rem;
      font-weight: var(--fw-black);
      text-transform: uppercase;
      color: white;
      white-space: normal;
      margin-top: 90px;
    }
  }
  