/* Mobile Styling */
@media (max-width: 768px) {
    .pageContainer {
      padding-top: 50px; 
    }
  
    .title {
      font-family: var(--font-head);
      font-weight: var(--fw-black);
      font-size: 2rem;
      letter-spacing: var(--spacing-head);
      text-transform: uppercase;
      color: white;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
  
  /* Desktop Styling */
  @media (min-width: 769px) {
    .pageContainer {
      padding: 2rem; 
    }
  
    .title {
      font-family: var(--font-head);
      font-weight: var(--fw-black);
      font-size: 3rem;
      letter-spacing: var(--spacing-head);
      text-transform: uppercase;
      color: white;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 2rem;
    }
  }
  